.btn__navbar {
  /* Rectangle */
  width: 153px;
  height: 48px;
  box-sizing: border-box;
  background-color: #014e56;
  border: 2px solid #ffffff;
  border-radius: 24px;

  /* contact us */

  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  color: #ffffff;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f0f0f0;
}
.container {
  width: 1440px;
  background-color: #014e56;
  margin: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 73px 165px;
  margin-bottom: 36px;
}
.nabar__list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.nabar__img {
  margin-right: 40px;
}
.navbar__link {
  /* home */

  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  color: #ffffff;
}
nav button:active {
  /* Rectangle */

  box-sizing: border-box;

  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 24px;

  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.btn__navbar-text:active {
  color: #002529;
}
.btn__navbar-text {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  color: #ffffff;
}
.navbar__link:active {
  /* about */

  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  color: #f59f9f;
}
.navbar__link:hover {
  color: #f6a6a6;
}
.head {
  padding: 0 0 173px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* CONTACT */

.contact {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: end;
}
.contact__left {
  width: 540px;
}
.contact__right {
  width: 542px;
  height: 420px;
}
.contact__left__title {
  /* Contact */

  width: 350px;
  height: 100px;

  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 100px;
  /* identical to box height, or 156% */

  color: #ffffff;
}
form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form__input,
.form__message {
  /* Company Name */
  padding: 14px;
  background-color: #014e56;
  border: none;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height, or 167% */
  letter-spacing: -0.115385px;

  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  mix-blend-mode: normal;
  opacity: 0, 8;
}
.contacts__img {
  position: absolute;
  margin-top: 30px;
}
footer path:hover {
  fill: #f67e7e;
}
.form__btn {
  /* Rectangle */

  box-sizing: border-box;
  width: 123px;
  height: 48px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 24px;
  /* submit */

  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 156% */

  color: #004047;
}
.contacts__end__img {
  margin-left: 1340px;
}
.cards {
  width: 540px;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* align-items: center; */
}
.card {
  display: flex;
  gap: 23px;
  align-items: center;
}
.card__texts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card__title {
  /* Experienced Individu */
  margin-bottom: 32px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  /* identical to box height, or 156% */

  color: #f67e7e;
}
.card__text {
  /* Our network is made */

  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  /* or 167% */

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.8;
}

footer {
  display: flex;
  gap: 150px;
  padding: 48px 165px;
  background-color: #002529;
}
.footer__left {
  display: flex;
  gap: 125px;
}
.footer__logo {
  margin-bottom: 25px;
}
.footer__text {
  /* 987 Hillcrest Lane I */
  width: 445px;
  height: 100px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  /* or 167% */

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.6;
}
.social__medias {
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  gap: 51px;
}
.tarmoqlar {
  margin-left: 147px;
  display: flex;
  gap: 16px;
}
.about__tarmoqlar__text {
  /* Copyright 2020. All */
  width: 255px;
  height: 25px;

  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */
  text-align: right;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.6;
}
.form__input:hover,
.form__message:hover {
  border-bottom: 1px solid #f67e7e;

  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height, or 167% */
  letter-spacing: -0.115385px;

  color: #f67e7e;

  mix-blend-mode: normal;
  opacity: 0.6;
}

.form__input:active,
.form__message:active {
  border-bottom: 1px solid #79c8c7;
}
.navbar__burger {
  display: none;
}

@media only screen and (max-width: 750px) {
  .container {
    width: 780px;
    margin: auto;
  }
  .navbar {
    padding: 64px 40px;
  }
  .head__texts {
    flex-direction: column;
    text-align: center;
  }
  .head {
    padding: 52px 45px;
  }
  .head__title {
    height: 120px;
  }
  .head__hr {
    display: none;
  }
  .head__img {
    visibility: hidden;
  }

  footer {
    position: relative;
    padding: 36px 30px;
    gap: 0;
  }
  .footer__text {
    text-align: end;
  }
  .footer__text br {
    margin-top: 14px;
  }
  .footer__logos {
    margin-bottom: 53px;
  }
  .social__medias {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 372px;
    justify-content: space-between;
    box-sizing: border-box;
    bottom: 0;
    margin-bottom: 32px;
  }
  .tarmoqlar {
    margin-left: 0;
    display: flex;
    gap: 16px;
  }
  .about__tarmoqlar__text {
    /* Copyright 2020. All */

    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    text-align: right;

    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
  .service__text {
    /* Group 20 */
    width: 573px;
    height: 111px;
  }

  .contact {
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .contact__left {
    width: 540px;
  }
  .contact__right {
    width: 542px;
    height: 420px;
  }
  .contact__left__title {
    /* Contact */
    margin: auto;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .contacts__end__img {
    margin-left: 680px;
  }
}

@media only screen and (max-width: 375px) {
  .contacts__end__img {
    margin-left: 680px;
  }
  .contact__left__title {
    margin-bottom: 16px;
  }
  .card__title {
    margin-bottom: 40px;
  }
  /* .contact {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .contact__left
  {
    width: 350px;
  } */
  .imzo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .imzo__img {
    width: 200px;
  }

  .imzolar__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    /* identical to box height, or 100% */
    text-align: center;

    color: #ffffff;
    margin-bottom: 48px;
  }
  .head__texts__span {
    margin-bottom: 100px;
    width: 700px;
    height: 195px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .head__img {
    left: 680px;
    top: 318px;
  }
  .navbar__link {
    display: none;
  }
  .btn__navbar {
    display: none;
  }
  .navbar__burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  .nabar__list {
    display: flex;
    gap: 155px;
  }
  .navbar__hr {
    display: block;

    width: 20px;
    height: 3px;

    background: #ffffff;
  }
  .header__img {
    width: 358px;
    height: 100px;
  }

  .intro {
    padding: 100px 30px;
    position: relative;
    align-items: center;
  }
  .intro__left {
    width: 400px;
    height: 200px;
    margin-bottom: 120px;
  }
  .intro__imgs {
    padding-left: 120px;
  }
  .intro__right__img {
    position: absolute;
    top: 0;
    right: 0;
    /* Group 8 */

    height: 350px;
  }
  /* .cards {
    width: 327px;
    height: 700px;
  }
  .card {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */
  .contact {
    margin-bottom: 100px;
  }
  .card {
    width: 400px;
    text-align: left;
  }
  .contacts__img {
    display: none;
  }
  .ends {
    height: 300px;
  }
  .end {
    width: 370px;
    margin: auto;
    width: 330px;
    text-align: center;
    display: flex;
    gap: 80px;
    flex-direction: column;
  }
  .end__title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    /* or 100% */
    text-align: center;

    color: #012f34;
  }
  .end__btn {
    /* contact us */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 156% */

    color: #012f34;
  }
  .mask {
    width: 250px;
  }

  /* FOOTER */

  footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 250px;
    padding: 48px 165px;
    background-color: #002529;
  }
  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .footer__logo {
    margin-bottom: 0;
  }
  .footer__text {
    /* 987 Hillcrest Lane I */
    width: 330px;
    height: 100px;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    color: #ffffff;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-bottom: 120px;
  }
  .social__medias {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .tarmoqlar {
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .about__tarmoqlar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 100px; */
  }
  .about__tarmoqlar__text {
    /* Copyright 2020. All */
    margin-top: 46px;
    width: 255px;
    height: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;

    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.6;
  }
}
